.solana-card-container {
    /* width: 70%;
    margin: auto;
    margin-top: 2.4rem; */
    /* display: flex; */
    /* flex-wrap: wrap; */
    /* justify-content: center; */
    text-align: center;
}

.solana-card {
    min-height: 5rem;
    border: 2px solid #fff;
    /* width: 14rem !important; */
    width: 95% !important;
    box-shadow: 0 0.2rem 0.7rem 0 #cec7c7;
    border-radius: 1rem;
    margin-bottom: 1rem;
    /* margin-left: 3rem; */
    text-align: center;
}

.solana-card img {
    border-radius: 1rem;
}

.solana-card h6 {
    font-weight: 700;
    padding: 1.2rem 0 0.7rem 0;
}

.price-supply {
    display: flex;
    justify-content: center;
    font-size: 0.6rem;
    font-weight: bold;
}

.price {
    margin-right: 0.7rem;
    background-color: palevioletred;
    border-radius: 6px;
    padding: 4px;
}

.supply {
    background-color: palevioletred;
    border-radius: 6px;
    padding: 4px;
}

.date {
    font-size: 0.7rem;
    font-weight: bold;
    padding: 0.6rem;
}

.social-icons {
    margin-bottom: 1rem;
    cursor: pointer;
}

.social-icons svg {
    margin-right: 0.5rem;
}

.solana-card:hover {
    transform: scale(1.2);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

/* Table */


/* .info-text {
    position: fixed;
    margin: 1.5rem;
    font-weight: bold;
} */

/* .info{
    margin: auto;
    width: 30%;
} */
/* .info img { */
/* width: 50%; */
/* border-radius: 5px; */
/* } */

/* .info-text { */
/* position: absolute; */
/* margin: 1.5rem; */
/* font-weight: bold; */
/* } */

.table {
    width: 100%;
    margin: 20px auto;
    border-collapse: collapse;
    /* table-layout: fixed; */
}

thead {
    background-color: palevioletred;
    color: white;
}

th,
td {
    text-align: left;
    padding: 8px;
}

td img {
    width: 8rem;
}

tr:hover {
    transform: scale(1.01);
    transition: 0.3s ease-in-out;
    cursor: pointer;
}

.table-icon {
    display: flex;
    height: 145px;
    align-items: center;
}

.table-icon svg {
    margin-right: 0.5rem;
}

@media screen and (max-width:500px) {
    .table {
        width: 100%;
    }

    .table-icon {
        display: flex;
        height: 83px;
    }

    .solana-card {
        margin-left: 0;
    }

    td {
        font-size: 0.7rem;
    }

    td img {
        display: block;
        margin: 0;
        width: 4rem;

    }

    .solana-card {
        min-height: 5rem;
        border: 2px solid #fff;
        /* width: 14rem !important; */
        width: 95% !important;
        box-shadow: 0 0.1rem 0.2rem 0 #cec7c7;
        border-radius: 1rem;
        margin-bottom: 1rem;
        text-align: center;
    }

    .solana-card img {
        border-radius: 1rem;
    }

    .solana-card h6 {
        font-size: 0.6rem;
        font-weight: 700;
        padding: 0.3rem 0 0.1rem 0;
    }

    .price-supply {
        display: flex;
        justify-content: center;
        font-size: 0.45rem;
        font-weight: bold;
    }

    .price {
        margin-right: 0.7rem;
        background-color: #e78b00;
        border-radius: 6px;
        padding: 4px;
    }

    .supply {
        /* background-color: palevioletred; */
        background-color: #e78b00;
        border-radius: 6px;
        padding: 4px;
    }

    .date {
        font-size: 0.45rem;
        font-weight: bold;
        color: #ffb74a;
        /* padding: 0.6rem; */
    }

    .social-icons {
        margin-top: -0.7rem;
        margin-bottom: 0.2rem;
        cursor: pointer;
    }

    .social-icons svg {
        margin-right: 0.5rem;
    }

    div.sticky {
        position: -webkit-sticky;
        position: sticky;
        top: 0;
        background-color: #282c34;
    }
}